<!-- LOGIN SECTION -->
<section class="login-block">
  <!-- ALERT  WARNING START -->
  <div class="text-center mb-3 alert alert-warning alert-dismissible" *ngIf="invalidLogin" role="alert">
    <strong>{{ErrorMessage}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><!-- ALERT  WARNING END -->
  <!-- LOGIN CONTAINER START -->
  <div class="container signLog">
    <div class="row">

      <!-- LOGIN COLUMN START -->
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Вход</h2>
        <!-- LOGIN FORM START -->
        <form class="login-form form" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="UserName" class="text-uppercase">Логин</label>
            <input formControlName="Username" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="Username.touched && Username.errors"
                 class="errorMessage">
              <span *ngIf="Username.hasError('required')">Логин обязателен.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="Password" class="text-uppercase">Пароль</label>
            <input formControlName="Password" type="password" class="form-control" placeholder="" required autofocus>
            <div *ngIf="Password.touched && Password.errors"
                 class="errorMessage">
              <span *ngIf="Password.hasError('required')">Пароль обязателен.</span>
            </div>
          </div>

          <input type="submit" class="btn btn-login btn-block" value="Войти" [disabled]="insertForm.invalid" />

        </form><!-- LOGIN FORM END -->

        <div class="register-text">Нет аккаунта ? <a [routerLink]='["/register"]'><i class="fas fa-user"></i> Регистрируйся</a></div>
      </div> <!-- LOGIN SECTION END -->
      <!-- CAROUSEL COLUMN START -->
      <div class="col-md-8 banner-sec">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/images/image1.jpeg" alt="First slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Наша цель — быть полезными</h2>
                  <p>
                    Мы не просто продаем бытовую технику, электронику. Мы помогаем найти именно то, что нужно, в одном месте и без лишних волнений, чтобы вы не тратили жизнь на поиски, а просто жили счастливо.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/images/image2.jpeg" alt="Second slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">

                  <h2>Наша цель — быть полезными</h2>
                  <p>
                    Мы не просто продаем бытовую технику, электронику. Мы помогаем найти именно то, что нужно, в одном месте и без лишних волнений, чтобы вы не тратили жизнь на поиски, а просто жили счастливо.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/images/image3.jpeg" alt="Third slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">

                  <h2>Наша цель — быть полезными</h2>
                  <p>
                    Мы не просто продаем бытовую технику, электронику. Мы помогаем найти именно то, что нужно, в одном месте и без лишних волнений, чтобы вы не тратили жизнь на поиски, а просто жили счастливо.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- CAROUSEL COLUMN START -->
    </div>
  </div> <!-- LOGIN CONTAINER END -->
</section>
