@import "~@fortawesome/fontawesome-free/css/all.css";


.errorMessage {
  color: red;
}

.test {
  background: #DE6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff,#08c2fe); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff,#08c2fe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}
