<div class="container-fluid test">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onAddProduct()"><i class="fa fa-plus"></i> Add Product</button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover table-responsive" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Описание</th>
        <th>В наличии</th>
        <th>Цена (USD)</th>
        <th>Фото</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="text-center">
        <td>{{product.productId}}</td>
        <td>{{product.name | uppercase}}</td>
        <td>{{product.description}}</td>
        <td>{{true == product.outofstock ?  'Нет ': 'Да '}}</td>
        <td>{{product.price | currency: 'USD':'symbol-narrow':'.2'}}</td>
        <td><img [src]="product.imageUrl" *ngIf="product.imageUrl" style="" width="75" /></td>
        <td>
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-success" (click)="onSelect(product)"><i class="fas fa-th-list"></i></button>
            <button type="button" class="btn btn-primary" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateModal(product)"><i class="far fa-edit"></i></button>
            <button type="button" class="btn btn-danger" *ngIf="userRoleStatus == 'Admin'" (click)="onDelete(product)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- ADD PRODUCT MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Добавить новый товар</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: Macbook Air 2019" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="name.touched && name.errors">
            <span *ngIf="name.hasError('required')">Название товара обязательно.</span>
            <span *ngIf="name.hasError('maxlength')">Не больше 50 символов для названия товара.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productDescription"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <textarea formControlName="description" class="form-control" placeholder="Опишите товар - Максимум 150 Символов" aria-label="Description" aria-describedby="productDescription"></textarea>
          </div>
          <div class="errorMessage" *ngIf="description.touched && description.errors">
            <span *ngIf="description.hasError('required')">Описание товара обязательно.</span>
            <span *ngIf="description.hasError('maxlength')">Не больше 150 символов для описания товара.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" formControlName="outOfStock" checked aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Товар в наличии" disabled>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-usd"></i></span>
            </div>
            <input formControlName="price" type="text" class="form-control" placeholder="eg: 999.99">
          </div>
          <div class="errorMessage" *ngIf="price.touched && price.errors">
            <span *ngIf="price.hasError('required')">Цена товара обязательна.         </span>
            <span *ngIf="price.hasError('min')">Цена не может быть отрицательной. </span>
            <span *ngIf="price.hasError('max')">Максимально допустимая цена 10000.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="ImageUrl"><i class="fa fa-picture-o"></i></span>
            </div>
            <input type="text" formControlName="imageUrl" class="form-control" placeholder="eg: https://i.imgur.com/ApYPYbQ.jpg" aria-label="ImageUrl" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="imageUrl.touched && imageUrl.errors">
            <span *ngIf="imageUrl.hasError('pattern')">Неверная сслыка на фото.</span>
            <span *ngIf="imageUrl.hasError('required')">Фото товара обязательно.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button type="submit" [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ДОБАВИТЬ</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD PRODUCT MODAL END-->
<!-- EDIT PRODUCT MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Изменить товар</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id" />
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: Macbook Air 2019" aria-label="name" aria-describedby="productTitle">
          </div>
          <div class="errorMessage" *ngIf="_name.touched && _name.errors">
            <span *ngIf="_name.hasError('required')">Название товара обязательно.</span>
            <span *ngIf="_name.hasError('maxlength')">Не больше 50 символов для названия товара.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productDescription"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <textarea formControlName="description" class="form-control" placeholder="Опишите товар - Максимум 150 Символов" aria-label="Description" aria-describedby="productDescription"></textarea>
          </div>
          <div *ngIf="_description.touched && _description.errors" class="errorMessage">
            <span *ngIf="_description.hasError('required')">Описание товара обязательно.</span>
            <span *ngIf="_description.hasError('maxlength')">Не больше 150 символов для описания товара.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" formControlName="outOfStock" checked aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Товар в наличии" disabled>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-usd"></i></span>
            </div>
            <input formControlName="price" type="text" class="form-control" placeholder="eg: 999.99">
          </div>
          <div class="errorMessage" *ngIf="_price.touched && _price.errors">
            <span *ngIf="_price.hasError('required')">Цена товара обязательна.         </span>
            <span *ngIf="_price.hasError('min')">Цена не может быть отрицательной. </span>
            <span *ngIf="_price.hasError('max')">Максимально допустимая цена 10000.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="ImageUrl"><i class="fa fa-picture-o"></i></span>
            </div>
            <input type="text" formControlName="imageUrl" class="form-control" placeholder="eg: https://i.imgur.com/ApYPYbQ.jpg" aria-label="ImageUrl" aria-describedby="productTitle">
          </div>
          <div *ngIf="_imageUrl.touched && _imageUrl.errors"
               class="errorMessage">
            <span *ngIf="_imageUrl.hasError('pattern')">Неверная сслыка на фото.</span>
            <span *ngIf="_imageUrl.hasError('required')">Фото товара обязательно.         </span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">ИЗМЕНИТЬ</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT PRODUCT MODAL END-->
