
<div class="container">
  <br>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Back-End</span>
          <img class="img-fluid" src="/images/Core3.png" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Backend Managed With API</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>ASP.NET Core 3.0</h5>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">Front-End</span>
          <img class="img-fluid" src="/images/Angular8.jpg" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Client Side Managed With Angular 8</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>ANGULAR 8</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card rounded">
        <div class="card-image">
          <span class="card-notify-badge">UI Framework</span>
          <img class="img-fluid" style="max-height:150px; width:100%" src="/images/Bootstrap4.png" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Templates Build With Bootstrap 4.4.1</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>BOOTSTRAP 4</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
